.buscador {

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8%;
    gap: 5%;
    margin-bottom: 5%;

    
}

label {

text-transform: uppercase;
font-weight: bold;
font-size: 2rem;
text-align: center;
}

input {
   
    width: 20%;
    border-radius: 8%;
}