* {
  margin: 0%;
  font-size: 1.3rem;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 100vw;
    min-height: 98vh;
    margin-top: 4%;
    background-color: silver;
    background-color:silver;
    background-image:
    radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}

.insert {
  background-color: #b1aba478;;
  width: 40vw;
  height: 20vh;
  border: 8px double black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
   margin-top: 8%;
}

.nuevo_input {
  width: 40%;
  height: 20%;
}

.boton {
  width: 40%;
  height: 20%;
  text-align: center;
  background-color: rgb(236, 245, 245);
  font-size: 1.3rem;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(210,0,0,0);
}

li {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    text-transform: uppercase;
    padding: 2%;
  border-bottom: 1px solid black;
}

.listado_general {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 1%;
  padding-inline-start: 0;
  background-color: rgb(191, 192, 194);
}
